<div id="<%= dom_id resource_group %>">
  <p>
    <strong>Data Area Id:</strong>
    <%= resource_group.dataAreaId %>
  </p>

  <p>
    <strong>Group Id:</strong>
    <%= resource_group.groupId %>
  </p>

  <p>
    <strong>Input Warehouse Id:</strong>
    <%= resource_group.inputWarehouseId %>
  </p>

  <p>
    <strong>Group Name:</strong>
    <%= resource_group.groupName %>
  </p>

</div>
