<p style="color: green"><%= notice %></p>

<%= render @resource_group %>

<div>
  <%= link_to "Edit this resource group", edit_admin_resource_group_path(@resource_group) %> |
  <%= link_to "Back to resource groups", admin_resource_groups_path %>

  <%= button_to "Destroy this resource group", [:admin, @resource_group], method: :delete %>
</div>
