<div id="<%= dom_id case_request %>">
  <p>
    <strong>Start time:</strong>
    <%= case_request.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= case_request.end_time %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= case_request.brand_id %>
  </p>

  <p>
    <strong>Class:</strong>
    <%= case_request.class_id %>
  </p>

  <p>
    <strong>Contact person email:</strong>
    <%= case_request.contact_person_email %>
  </p>

  <p>
    <strong>Contact person name:</strong>
    <%= case_request.contact_person_name %>
  </p>

  <p>
    <strong>Contact person phone:</strong>
    <%= case_request.contact_person_phone %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= case_request.description %>
  </p>

  <p>
    <strong>Hours estimated:</strong>
    <%= case_request.hours_estimated %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= case_request.location %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= case_request.model_id %>
  </p>

  <p>
    <strong>Model year:</strong>
    <%= case_request.model_year %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= case_request.name %>
  </p>

  <p>
    <strong>Osm arrival date:</strong>
    <%= case_request.osm_arrival_date %>
  </p>

  <p>
    <strong>Osm arrival time:</strong>
    <%= case_request.osm_arrival_time %>
  </p>

  <p>
    <strong>Osm campaign:</strong>
    <%= case_request.osm_campaign %>
  </p>

  <p>
    <strong>Osm campaign code:</strong>
    <%= case_request.osm_campaign_code %>
  </p>

  <p>
    <strong>Osm color:</strong>
    <%= case_request.osm_color %>
  </p>

  <p>
    <strong>Osm engine number:</strong>
    <%= case_request.osm_engine_number %>
  </p>

  <p>
    <strong>Osm external ref:</strong>
    <%= case_request.osm_external_ref_id %>
  </p>

  <p>
    <strong>Osm name arrival:</strong>
    <%= case_request.osm_name_arrival %>
  </p>

  <p>
    <strong>Osm name order:</strong>
    <%= case_request.osm_name_order %>
  </p>

  <p>
    <strong>Osm order date:</strong>
    <%= case_request.osm_order_date %>
  </p>

  <p>
    <strong>Osm order time:</strong>
    <%= case_request.osm_order_time %>
  </p>

  <p>
    <strong>Osmru t lcl:</strong>
    <%= case_request.osmru_t_lcl %>
  </p>

  <p>
    <strong>Osm reference amount iva:</strong>
    <%= case_request.osm_reference_amount_iva %>
  </p>

  <p>
    <strong>Osm special spare:</strong>
    <%= case_request.osm_special_spare %>
  </p>

  <p>
    <strong>Osm stock:</strong>
    <%= case_request.osm_stock %>
  </p>

  <p>
    <strong>Registration number:</strong>
    <%= case_request.registration_number %>
  </p>

  <p>
    <strong>Replacement device:</strong>
    <%= case_request.replacement_device %>
  </p>

  <p>
    <strong>Request:</strong>
    <%= case_request.request_id %>
  </p>

  <p>
    <strong>Requested end date time:</strong>
    <%= case_request.requested_end_date_time %>
  </p>

  <p>
    <strong>Requested start date time:</strong>
    <%= case_request.requested_start_date_time %>
  </p>

  <p>
    <strong>Resource group:</strong>
    <%= case_request.resource_group %>
  </p>

  <p>
    <strong>Resource personal number:</strong>
    <%= case_request.resource_personal_number %>
  </p>

  <p>
    <strong>Service region:</strong>
    <%= case_request.service_region %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= case_request.source_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= case_request.status %>
  </p>

  <p>
    <strong>Usage qty:</strong>
    <%= case_request.usage_qty %>
  </p>

</div>
