<div id="<%= dom_id resource %>">
  <p>
    <strong>Data Area Id:</strong>
    <%= resource.dataAreaId %>
  </p>

  <p>
    <strong>Resource Id:</strong>
    <%= resource.resourceId %>
  </p>

  <p>
    <strong>Resource Worker Personnel Number:</strong>
    <%= resource.resourceWorkerPersonnelNumber %>
  </p>

  <p>
    <strong>Resource Name:</strong>
    <%= resource.resourceName %>
  </p>

  <p>
    <strong>Resource Group:</strong>
    <%= resource.resourceGroup %>
  </p>

  <p>
    <strong>Resource Group (id):</strong>
    <%= resource.resource_group.id %>
  </p>

</div>
