<p style="color: green"><%= notice %></p>

<%= render @resource %>

<div>
  <%= link_to "Edit this resource", edit_admin_resource_path(@resource) %> |
  <%= link_to "Back to resources", admin_resources_path %>

  <%= button_to "Destroy this resource", [:admin, @resource], method: :delete %>
</div>
